<footer class="footer">
	<p style="text-align: center; color: gray">
		&copy; <%= new Date().getFullYear(); %> Donghyun Jeong <br> 
		jdh9490@gmail.com <br>
		Built with Node Js, Express and MongoDB.
	</p>
</footer>