<header class="header">
	<a href="/" class="header__logo">Admin</a>
	<nav class="header__nav">
		<ul>
			<li>
				<a href="/about" class="">about</a>
			</li>
			<li>
				<a href="/thoughts" class="">thoughts</a>
			</li>
			<li>
				<a href="/books" class="">books</a>
			</li>
		</ul>
	</nav>
	
	<div class="header__button">
		<a href="/logout">
			Logout			
		</a>
	</div>
</header>