<div class="author">
  <h2 class="author__heading">
    <span class="highlight-yellow" id="element"></span>
  </h2>

  <script type="module">
    new TypeIt('#element', {
      speed: 100,
      loop: false,
      waitUntilVisible: true,
    })
      .type('< Hi, ')
      .exec(async () => {
        await new Promise((resolve, reject) => {
          setTimeout(() => {
            return resolve();
          }, 1000);
        });
      })
      .type('I am Donghyun />')
      .go();
  </script>

  <section class="author__body">
    <p style="text-align: center">
      I believe that great code starts with great questions. This blog is where
      I write about what I’m learning, the questions that drive me, and the
      insights that surprise me.
    </p>
  </section>
</div>

<section class="social-link">
  <h3>Connect With Me</h3>
  <div class="links">
    <a
      href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=jdh9490@gmail.com"
      target="_blank"
    >
      <img src="./icons/email.svg" class="icon" />
      Gmail
    </a>
    <a href="https://github.com/jdh4601" target="_blank">
      <img src="./icons/github.svg" class="icon" />
      GitHub
    </a>
    <a href="https://linkedin.com/in/donghyun10" target="_blank">
      <img src="./icons/linkedin.svg" class="icon" />
      LinkedIn
    </a>
    <a href="https://medium.com/@jdh9490" target="_blank">
      <img src="./icons/medium.svg" class="icon" />
      Medium
    </a>
    <a href="https://velog.io/@jdh4601/posts" target="_blank">
      <img src="./icons/techblog.svg" class="icon" />
      Tech-blog
    </a>
    <a href="https://instagram.com/dnnhynn___" target="_blank">
      <img src="./icons/instagram.svg" class="icon" />
      Instagram
    </a>
  </div>
</section>

<section class="news-letter">
  <h3 class="news-letter__heading">News Letter</h3>
  <%- include('./subscribe.ejs') %>
</section>
